In [1]:
import pandas as pd

In [108]:
df = pd.read_csv('cricket_data_2025.csv')

In [58]:
df.head(10)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,NaN,Aaron Hardie,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024.0,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,0,15,11,9,0,16,0,0,0,0,0,0,0,0,0
2,2023.0,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,0,10,11,4,0,9,0,0,0,0,0,0,0,0,0
3,2022.0,Abdul Samad,2,0,4,4,2.0,7,57.14,0,0,0,0,1,0,2,6,8,0,0/8,0,8.00,0,0,0
4,2021.0,Abdul Samad,11,1,111,28,12.33,87,127.58,0,0,4,8,8,0,11,6,9,1,1/9,9.00,9.00,6.00,0,0
5,2020.0,Abdul Samad,12,3,111,33,22.2,65,170.76,0,0,8,6,5,0,12,42,96,1,1/41,96.00,13.71,42.00,0,0
6,NaN,Abhinandan Singh,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
7,2024.0,Abhinav Manohar,2,0,9,8,4.5,16,56.25,0,0,1,0,2,0,2,0,0,0,0,0,0,0,0,0
8,2023.0,Abhinav Manohar,9,0,114,42,19.0,83,137.35,0,0,6,7,4,0,9,0,0,0,0,0,0,0,0,0
9,2022.0,Abhinav Manohar,8,1,108,43,18.0,75,144.0,0,0,14,3,4,0,8,0,0,0,0,0,0,0,0,0

In [109]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_cleaned = df.dropna(subset=['Year'])

In [110]:
import numpy as np
features =['Matches_Batted','Not_Outs','Highest_Score','Batting_Average','Balls_Faced','Batting_Strike_Rate','Centuries','Half_Centuries','Fours','Sixes']
df.replace('No stats', np.nan, inplace=True)
df[features] = df[features].apply(pd.to_numeric, errors='coerce')

df_cleaned = df.dropna(subset=features + ['Runs_Scored']).reset_index(drop=True)

In [111]:
df_cleaned.head(10)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,2022.0,Abdul Samad,2.0,0.0,4,4.0,2.00,7.0,57.14,0.0,0.0,0.0,0.0,1,0,2,6,8,0,0/8,0,8.00,0,0,0
1,2021.0,Abdul Samad,11.0,1.0,111,28.0,12.33,87.0,127.58,0.0,0.0,4.0,8.0,8,0,11,6,9,1,1/9,9.00,9.00,6.00,0,0
2,2020.0,Abdul Samad,12.0,3.0,111,33.0,22.20,65.0,170.76,0.0,0.0,8.0,6.0,5,0,12,42,96,1,1/41,96.00,13.71,42.00,0,0
3,2024.0,Abhinav Manohar,2.0,0.0,9,8.0,4.50,16.0,56.25,0.0,0.0,1.0,0.0,2,0,2,0,0,0,0,0,0,0,0,0
4,2023.0,Abhinav Manohar,9.0,0.0,114,42.0,19.00,83.0,137.35,0.0,0.0,6.0,7.0,4,0,9,0,0,0,0,0,0,0,0,0
5,2022.0,Abhinav Manohar,8.0,1.0,108,43.0,18.00,75.0,144.00,0.0,0.0,14.0,3.0,4,0,8,0,0,0,0,0,0,0,0,0
6,2023.0,Abhishek Sharma,11.0,0.0,226,67.0,20.55,157.0,143.95,0.0,2.0,28.0,6.0,4,0,11,72,124,2,1/26,62.00,10.33,36.00,0,0
7,2022.0,Abhishek Sharma,14.0,0.0,426,75.0,30.43,320.0,133.13,0.0,2.0,47.0,13.0,1,0,14,24,38,0,0/10,0,9.50,0,0,0
8,2021.0,Abhishek Sharma,8.0,1.0,98,33.0,16.33,75.0,130.66,0.0,0.0,7.0,4.0,2,0,8,60,64,4,2/4,16.00,6.40,15.00,0,0
9,2020.0,Abhishek Sharma,8.0,2.0,71,31.0,14.20,56.0,126.78,0.0,0.0,6.0,3.0,1,0,8,60,91,2,1/15,45.50,9.10,30.00,0,0

In [112]:
from sklearn.preprocessing import MinMaxScaler
# df_cleaned['Highest_Score']=df_cleaned['Highest_Score'].str.replace('*','')
scaler = MinMaxScaler()

X=df_cleaned[features]
y=df_cleaned['Runs_Scored']
X_scaled = scaler.fit_transform(X)

In [113]:
assert len(X_scaled) == len(y)
df_cleaned['Runs_Scored'].value_counts().sum()

np.int64(574)

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [115]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f"Model Evaluation:\nMAE: {mae}\nMSE: {mse}\nR2 Score: {r2}")

Model Evaluation:
MAE: 6.065130434782609
MSE: 148.61956782608695
R2 Score: 0.9929641185647174

In [116]:
df_cleaned['Predicted_Runs'] = model.predict(scaler.transform(df_cleaned[features]))
top_scorer = df_cleaned.loc[df_cleaned['Predicted_Runs'].idxmax(), 'Player_Name']

print(f"\n🏆 Predicted Highest Run Scorer: {top_scorer}")

🏆 Predicted Highest Run Scorer: Virat Kohli

In [117]:
new_features = ['Matches_Bowled','Balls_Bowled','Runs_Conceded','Bowling_Average','Economy_Rate','Bowling_Strike_Rate','Four_Wicket_Hauls','Five_Wicket_Hauls']
df.replace('No stats', np.nan, inplace=True)

In [118]:
# X=df_cleaned[new_features]
# y=df_cleaned['Wickets_Taken']
# X_scaled = scaler.fit_transform(X)

In [123]:
# X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
# y_train.shape

(459,)

In [ ]:
# model1 = RandomForestRegressor(n_estimators=100, random_state=42)
# model1.fit(X_train, y_train)
# predictions = model1.predict(X_test)

# mae = mean_absolute_error(y_test, predictions)
# mse = mean_squared_error(y_test, predictions)
# r2 = r2_score(y_test, predictions)

# print(f"Model Evaluation:\nMAE: {mae}\nMSE: {mse}\nR2 Score: {r2}")

Model Evaluation:
MAE: 0.3028695652173912
MSE: 0.5744547826086953
R2 Score: 0.98588606453219

In [128]:
# # X_scaled = scaler.fit_transform(X.drop(['Best_Bowling_Match', 'Wickets_Taken']))
# y_train.value_counts()

In [ ]:
# df_cleaned['Predicted_Wickets'] = model1.predict(scaler.transform(df_cleaned[new_features]))
# top_bowler = df_cleaned.loc[df_cleaned['Predicted_Wickets'].idxmax(), 'Player_Name']

# print(f"\n🏆 Predicted Highest Run Scorer: {top_bowler}")

🏆 Predicted Highest Run Scorer: Harshal Patel