In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cricket_data_2025.csv')

In [9]:
df.head(10)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,NaN,Aaron Hardie,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024.0,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,0,15,11,9,0,16,0,0,0,0,0,0,0,0,0
2,2023.0,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,0,10,11,4,0,9,0,0,0,0,0,0,0,0,0
3,2022.0,Abdul Samad,2,0,4,4,2.0,7,57.14,0,0,0,0,1,0,2,6,8,0,0/8,0,8.00,0,0,0
4,2021.0,Abdul Samad,11,1,111,28,12.33,87,127.58,0,0,4,8,8,0,11,6,9,1,1/9,9.00,9.00,6.00,0,0
5,2020.0,Abdul Samad,12,3,111,33,22.2,65,170.76,0,0,8,6,5,0,12,42,96,1,1/41,96.00,13.71,42.00,0,0
6,NaN,Abhinandan Singh,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
7,2024.0,Abhinav Manohar,2,0,9,8,4.5,16,56.25,0,0,1,0,2,0,2,0,0,0,0,0,0,0,0,0
8,2023.0,Abhinav Manohar,9,0,114,42,19.0,83,137.35,0,0,6,7,4,0,9,0,0,0,0,0,0,0,0,0
9,2022.0,Abhinav Manohar,8,1,108,43,18.0,75,144.0,0,0,14,3,4,0,8,0,0,0,0,0,0,0,0,0

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_cleaned = df.dropna(subset=['Year'])

In [17]:
df_cleaned['Runs_Scored'].value_counts()

Runs_Scored
0       136
1        33
2        22
7        17
0.0      16
9        13
6        11
3        11
12       10
5        10
13       10
4        10
42        9
21        9
8         9
20        7
14        7
10        6
37        6
19        6
11        6
16        6
18        5
17        5
59        5
111       5
40        5
146       4
143       4
15        4
357       4
83        4
52        4
227       4
183       4
43        4
101       4
50        4
22        4
33        4
182       4
404       3
191       3
145       3
362       3
161       3
206       3
230       3
62        3
186       3
77        3
34        3
188       3
117       3
488       3
30        3
333       3
168       3
332       3
358       3
301       3
303       3
396       3
86        3
418       3
160       3
250       3
36        3
31        3
397       3
113       3
370       3
85        3
104       3
1.0       3
241       3
71        3
98        3
63        3
102       2
413       2
25        2
283       2
24        2
23        2
165       2
153       2
201       2
435       2
93        2
35        2
405       2
47        2
91        2
58        2
129       2
45        2
204       2
64        2
87        2
78        2
151       2
38        2
411       2
246       2
249       2
156       2
89        2
352       2
128       2
28        2
141       2
244       2
144       2
61        2
222       2
124       2
235       2
343       2
480       2
416       2
339       2
284       2
372       2
125       2
446       2
135       2
344       2
401       2
136       2
44        2
109       2
248       2
220       2
381       2
242       2
133       2
326       2
232       2
56        2
127       2
48        2
4.0       2
39        2
26        2
281       2
57        2
10.0      2
255       2
60        2
67        2
49        2
359       2
392       2
330       2
41        2
426       2
226       2
484       2
108       2
114       2
169       2
327       1
54        1
378       1
97        1
212       1
741       1
639       1
175       1
519       1
463       1
338       1
439       1
890       1
483       1
478       1
440       1
296       1
203       1
121       1
224       1
345       1
605       1
317       1
16.0      1
11.0      1
187       1
309       1
234       1
863       1
254       1
328       1
311       1
548       1
75        1
479       1
448       1
320       1
454       1
516       1
275       1
277       1
8.0       1
6.0       1
272       1
520       1
274       1
616       1
626       1
670       1
593       1
659       1
142       1
166       1
55        1
310       1
179       1
552       1
216       1
346       1
487       1
402       1
260       1
112       1
181       1
228       1
243       1
237       1
279       1
437       1
70        1
5.0       1
393       1
382       1
540       1
200       1
455       1
290       1
371       1
252       1
195       1
152       1
438       1
730       1
468       1
633       1
449       1
162       1
380       1
398       1
400       1
513       1
461       1
287       1
414       1
94        1
88        1
292       1
425       1
225       1
74        1
84        1
451       1
261       1
376       1
473       1
672       1
388       1
408       1
211       1
99        1
251       1
32        1
560       1
120       1
335       1
510       1
316       1
210       1
259       1
481       1
213       1
51.0      1
32.0      1
28.0      1
140       1
499       1
306       1
353       1
361       1
383       1
304       1
189       1
110       1
80        1
238       1
527       1
218       1
334       1
508       1
297       1
503       1
529       1
445       1
122       1
217       1
155       1
273       1
391       1
395       1
130       1
267       1
190       1
116       1
106       1
158       1
132       1
295       1
474       1
174       1
29        1
340       1
419       1
684       1
366       1
198       1
573       1
417       1
268       1
286       1
489       1
482       1
390       1
538       1
341       1
466       1
464       1
530       1
308       1
973       1
505       1
634       1
364       1
557       1
163       1
3.0       1
23.0      1
433       1
103       1
583       1
590       1
368       1
635       1
119       1
270       1
276       1
95        1
51        1
531       1
458       1
375       1
342       1
441       1
386       1
291       1
215       1
219       1
354       1
69        1
73        1
300       1
314       1
185       1
90        1
289       1
351       1
424       1
512       1
105       1
157       1
164       1
231       1
567       1
307       1
65        1
625       1
258       1
Name: count, dtype: int64

In [ ]:
df_cleaned['Player_Name'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'count'